      body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1a0f05;
        color: #f5e6c5;
        font-family: "MedievalSharp", cursive;
      }

      h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        text-align: center;
      }

      h2, p, a {

        text-align: center;
        color: #f5e6c5;
      }

      canvas {
        border: 4px solid #610000;
              }
